<section class="about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="img/mainPhoto.jpeg" class="img-fluid border-0 rounded-pill" alt="Profile Picture">
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
          <h3 style="margin-top: 20px;">Hello! <span style="color:#E96F85;">I am David Arbabi</span></h4>
          <p>My name is David Arbabi and I am a 23-year-old individual from Stavanger, Norway. I possess a passion for problem-solving and am known for my tenacity in finding solutions to various tasks. In my free time, I engage in online research and learning related to the field of IT. I also take great pleasure in helping others and witnessing their progress!</p>
          <p>As a full-time student at Noroff, I am currently pursuing a career in back-end development. I am experienced in utilizing various programming languages such as Python, SQL and Node.js in my studies. Additionally, I was elected as a deputy leader within my class, where I work closely with the class representative to enhance the student experience. This role, coupled with my experience as a Student Mentor, has enabled me to develop my ability to communicate effectively with students and arrive at effective solutions.</p>
          <p>Furthermore, I am employed part-time at Noroff as a Student Mentor, where I conduct one-on-one sessions with students who may be struggling in certain subjects, and occasionally host workshops for classes.</p>
        </div>
      </div>
    </div>
  </section>