<section id="blog">
  <div class="p-5 text-center">
      <h2>Testimony</h2>
      <p class="mb-5">What people say about us.</p>
        <div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>